
a {
  border-radius: 2px;
}
a.active,a:hover{
  background: mediumslateblue;
  transition: .5s;
}
.list-group-item {
  background-color: rgb(236, 231, 231);
  padding: 16px 16px 24px 16px;
  margin: 8px 0px;
}

.com {
  background-color: rgb(236, 231, 231);
  padding: 16px 16px 24px 16px;
  margin: 8px 0px;
}
