.selector-for-some-widget {
  box-sizing: content-box;
}


nav {
  margin: 4px 24px 4px 24px;
}

a {
  border-radius: 2px;
}
a.active,a:hover{
  background: mediumslateblue;
  transition: .5s;
}
div a {
  margin: 8 auto;
  padding: 8px auto;
}
